<h1>Follow Users</h1>
<table>
	<thead>
		<tr>
			<th>Image</th>
			<th>name</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @followed.each do |follow| %>
	<tbody>
		<tr>
			<td>
				<%= link_to user_path(follow.user) do %>
					<%= attachment_image_tag follow.user , :profile_image, size: "60x60",fallback:"HpGJ--S9_400x400.jpg" %>
				<% end %>
			</td>
			<td><%= follow.name %></td>
			<td></td>
			<td></td>
			<% if current_user.following?(user) %>
				<td><%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %></td>
			<% else %>
				<td><%= link_to 'フォローする', follow_path(user.id), method: :POST %></td>
			<% end %>
			<td><%= link_to "show",user_path(follow.user.id) %></td>
		</tr>
	</tbody>
	<% end %>
</table>