<h1>User info</h1>
<%= attachment_image_tag @user,:profile_image,format:"jpeg",class: "image-circle pull-left profile-img",fallback:"animal-ninki-gazou9.jpg",size:"60x60"%>

<p>name</p>
<%= current_user.name%>

<p>introduction</p>
<%= current_user.introduction %>

<%= link_to "編集",edit_user_path(current_user.id)%>

<h1>New book</h1>
<%= form_for(book) do |f| %>

<h4>title</h4>
<%= f.text_field :title %>

<h4>opinion</h4>
<%= f.text_area :body %>

<%= f.submit "Create Book" %>

<% end %>