<% if flash[:notice] %>
	<div class= "flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<%= render "users/sidebar" , book:@book %>
<h1>Books</h1>
<table>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
	<tr>
		<td><%= attachment_image_tag @user, :profile_image %></td>
		<% @books.each do |book|%>
		<td><%= link_to book.title, book_path(book.id) %></td>
		<td><%= book.body %></td>
		<% end%>
	</tr>
</table>
